*{
    margin: 0;
    padding: 0;
}
/* color palette */
:root{
    --primary : #F2EEE4;
    --secondary : #20262E;
    --tertiary: #EF9648;
    overflow-x:hidden;
}
html{
    scroll-behavior:smooth;
    overflow-x:hidden;
}   
body{
    overflow-x:hidden;
    font-family: 'Inter', sans-serif;
}
.top{
    width: 100vw;
    height:100vh;
    background: linear-gradient(90deg, transparent 0%, rgba(0, 0, 0, .4) 50%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0.2) 100%),url(images/bg.jpg);
    /* background: linear-gradient(90deg, transparent 0%, rgba(0, 0, 0, .5) 50%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.0) 100%),url(images/bg.jpg); */
    /* background-image: url(images/bg.jpg); */
    /* background-size: 100% auto; */
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.nav{
    height: 13vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    position: relative;
}
.links{
    display: flex;
    gap: 5.5vw;
    height: fit-content;
    position: absolute;
    bottom: 0;
}
.links a{
    text-decoration: none;
    font-size: 2.5vw;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.9);
    letter-spacing: 1.5px;
}
.links a:hover{
    text-decoration-color: var(--tertiary);
    text-decoration-line: underline;
}
.profile{
    width: fit-content;
    position: absolute;
    right: 8%;
    bottom: 0;
    transform: translate(0, .5rem);
    font-size: 3vw;
    padding: 0;
}
.profile a{
    margin: 0%;
    color: white;
    text-decoration: none;
}
.headings{
    margin-top: 7rem;
    color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.headings span{
    color: var(--tertiary);
}
.headings h1{
    /* padding: 0 12%; */
    width: 70%;
    justify-content: center;
    font-size: 4rem;
    letter-spacing: 2px;
    font-weight: 800;
}
.headings h4{
    text-shadow: 0 0 7px rgba(0, 0, 0, 1);
    margin-top: 1rem;
    /* padding:0 17%; */
    width: 65%;
    font-size: 1.2rem;
    font-weight: 300;
}
.btn{
    position: absolute;
    bottom: 4rem;
    right: 3rem;
}
.btn button{
    font-size: 1.2rem;
    font-weight: 200 !important;
    letter-spacing: 2px;
    background-color: var(--secondary);
    color: var(--primary);
    padding: 1rem;
    /* border-radius: 80% 20%; */
    border: 0;
    border-radius: 6px;
}
.btn button:hover{
    opacity: 0.8;
    transition: 200ms;
}
.btn button span{
    color: var(--tertiary);
    /* position: relative; */
}
/* .btn button span i{
    position: absolute;
    bottom: 0;
} */
.books{
    /* display: flex;
    flex-direction: column !important;
    padding: 2rem;
    background-color: white; */
}
.head{
    padding: 2rem;
}
.head h1,.about h1, .testimonials h1, .FAQ h1{
    font-size: 3rem;
    font-weight: 700;
    color: var(--secondary);
    text-align: center;
}
.books{
    /* display: flex;
    flex-direction: row !important;
    justify-content: space-evenly;
    flex-wrap: wrap; */
    /* gap: 6.5rem; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    row-gap: 2rem;
}
.book{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin:  0 3rem; */
    width: 24vw;
    height: 19rem;
    position: relative;
}
.book img{
    height: 200px;
    margin-bottom: 1rem;
    size: cover;
}
.insideBook{
    display: flex;
    flex-direction: column;
    /* align-items: left; */
    align-items: center;
}
.insideBook button{
    width: 5rem;
    font-size: 1.2rem;
    font-weight: 200 !important;
    /* background-color: var(--secondary);
    color: var(--primary); */
    padding: .3rem;
    border: 0;
    border-radius: 5px;
    /* margin-top: 1rem; */
    position: absolute;
    bottom: 0;

    /* only when desabled */
    background-color: var(--primary);
    color: var(--secondary);
    opacity: 0.8;
}
.insideBook button:hover{
    opacity: 0.65;
    transition: 200ms;
}
.book h4,.book p{
    font-size: 1.1rem;
}
.more{
    padding: 4.5rem;
    position: relative;
}
.more button{
    position: absolute;
    bottom: 30%;
    right: 3rem;
    width: 12rem;
    font-size: 1.2rem;
    font-weight: 200 !important;
    letter-spacing: 2px;
    background-color: var(--tertiary);
    color: var(--secondary);
    padding: 0.8rem 1.4rem;
    /* border-radius: 80% 20%; */
    border: 0;
    border-radius: 6px;
}
.more button:hover{
    opacity: 0.95;
    transition: 200ms;
}
.more button span{
    /* position: relative; */
}
.more button span i{
    /* position: absolute; */
    /* bottom: 0;
    left: 0.2rem; */
}
.about{
    background-color: var(--primary);
    padding: 3rem 0;
}
/* .about h1, .testimonials h1{
    font-size: 3rem;
    font-weight: 700;
    color: var(--secondary);
    text-align: center;
    letter-spacing: 2px;
} */
#hr{
    border: none;
    border-top: 6px solid var(--tertiary);
    outline: none;
    margin: 1.25rem 0;
}
.about h3{
    font-size: 1.8rem;
    font-weight: 600;
    word-spacing: 2rem;
    color: var(--secondary);
    text-align: center;
    letter-spacing: .7rem;
    margin-bottom: 1.5rem;
}

/* .bookShow{
    padding: 4rem 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.bookShow p{
    font-size: 2.5rem;
    font-weight: 500;
    padding: 2.5rem;
} */



/* BOOK */


.parent{
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
}
.aboutBook{
    /* background-color: white;
    height: 600px;
    width: 500px;
    text-align: center;
    font-family: verdana !important;
    border-left: solid 30px var(--tertiary);
    overflow:hidden;
    box-shadow: -30px 30px 50px 5px black;
    transform: rotate(-45deg) skewX(10deg) scale(0.8); */
    outline: 2px solid rgba(0, 0, 0, .1);
    width: 400px;
    height: 600px;
    padding: 30px;
    background: #FFF;
    border-left: 30px solid orange;
    transform: rotate(-45deg) skewX(10deg) scale(.8);
    box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
    margin-top: 15rem;
}
.aboutBook::before{
    content: "";
    width: 30px;
    height: 100%;
    background: rgb(200, 130,0);
    position: absolute;
    top: 0;
    left: 0;
    transform: skewY(-45deg) translate(-57px, -43px);
}
.aboutBook::after{
    content: "";
    position: absolute;
    bottom: 0;
    height: 30px;
    width: 100%;
    background: rgb(129, 129, 106);
    transform: skewX(-45deg) translate(-43.2px,30px);
}
.aboutBook h4{
    margin: 2rem;
    font-size: 1.3rem;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.aboutBook p{
    font-size: 1.2rem;
    padding: 1.2rem 2.5rem;
    text-align: justify
}

/* book ends */

.testimonials{
    padding: 3rem 3rem 8rem 3rem;
}
.testimonials h1{
    margin-bottom: 6rem;
}
.wrapTesti{
    display: flex;
    flex-direction: row;
    /* overflow-y: hidden; */
    overflow: auto;
    padding: 0;
    /* behavior: smooth; */
    scroll-behavior: smooth;
}
.wrapTesti::-webkit-scrollbar{
   display: none;
}
.testi1{
    background-color: var(--primary);
    min-width: 25vw;
    padding: 2rem 4rem 2rem 2rem;
    margin: 0 1.5rem 0 0;
}
.testi1 p{
    font-size: 1rem;
    margin: 0 0 4rem 0;
}
.testi1 h6{
    font-size: .8rem;
}
.testi{
    background-color: white;
    border: 1px solid rgba(0,0,0,0.5);
    min-width: 25vw;
    padding: 2rem 4rem 2rem 2rem;
    margin: 0 1.5rem 0 0;
    width: max-content;
}
.testi p{
    font-size: 1rem;
    margin: 0 0 4rem 0;
}
.testi h6{
    font-size: .8rem;
}
.starCont{
    display: flex;
    margin: 1rem 0;
}
.star{
    background-color: var(--tertiary);
    width: fit-content;
    height: fit-content;
    margin:.2rem;
}
.star i{
    color: white;
    font-size: 0.85rem;
    margin: 0.3rem;
}
.scrollBtn{
    position: relative;
}
.scrollBtn button{
    border: 0;
    background-color: white;
    float: right;
    margin: 0.4em;
}
.circle{
    border-radius: 100%;
    border: 1px solid black;
    padding: 1rem;
    background-color: white;
    height: 15px;
    width: 15px;
    margin-top: 1rem;
}
/* .circleNext{

}
.circlePrev{

} */
.FAQ{
    background-color: var(--primary);
    padding: 4rem 0;
}
.FAQ p{
    color: rgba(0,0,0,.75);
    text-align: center;
    margin: 2rem 0 4rem 0;
}
.queries{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    justify-items: center;
    column-gap:5rem;
    row-gap: 1rem;

    /* display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    column-gap: 5rem;
    justify-content: space-evenly; */
}
.query{
    width: 37vw;    
}
.query p{
    text-align: left;
    margin: 1rem 0 2rem 0;
}

/* Footer */

.footer{
    /* display: flex;
    flex-wrap: wrap; */
    padding: 2.5rem 0;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content:space-evenly;
}   
.contact{
    display: flex;
    flex-direction: column;
    width: 25vw;
}
#message, #name,#send{
    width: 100%;
    box-sizing: border-box;
} 
#name:placeholder-shown{
    outline: 0;
    border: 0;
}
#name{
    border: 0;
    padding: .85rem 0.5rem .5rem .5rem;
    font-size: 1.2rem;
}
#name:focus-visible{
    border: 0;
    outline: 0;
}
#field1{
    border: 3px solid var(--secondary);
    /* border: 0; */
    border-radius: 15px 15px 0 0;
    margin-bottom: 0.2rem;
}
#field2{
    border: 3px solid var(--secondary);
    /* border: 0; */
    border-radius: 0;
}
legend{
    margin-left: 1rem;
    font-weight: 600;
    padding: 0.5rem;
}
#message{
    border: 0;
    padding: .85rem 0.5rem .5rem .5rem;
    font-size: 1.2rem;
    overflow-y: visible;
}
#message:focus-visible{
    border: 0;
    outline: 0;
}
#message:placeholder-shown{
    outline: 0;
    border: 0;
}
#send{
    font-family: 'inter';
    background-color: var(--secondary);
    padding: 0.7rem 1rem;
    margin-top: .8rem;
    border-radius: 0 0 15px 15px;
    border: 0;
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 10px;
    text-align: left;
}
table{
    width: 45vw;
    text-align: left;
}
th{
    text-decoration: underline;
}
td,th{
    width: 30vw;
}
a{
    color: black;
    text-decoration: none;
}

/* Styles for dark footer */

.footer{
    background-color: var(--secondary);
    color: white;
}
.footer a{
    color: white;
}
#send{
    background-color: var(--primary);
    color: var(--secondary);
}
#field1, #field2{
    border-color:var(--primary) ;
    background-color: var(--secondary);
}
#name, #message{
    background-color: var(--secondary);
    color: white;
}


/* scroll bar */
::-webkit-scrollbar{
    /* visibility: hidden; */
    width: 0.5rem;
}
::-webkit-scrollbar-track{
    background: var(--secondary);
}
::-webkit-scrollbar-thumb{
    /* box-shadow: 0 0 5px 10px var(--tertiary); */
    border-radius: 10px;
    background: var(--tertiary);
}
::-webkit-scrollbar-thumb:hover{
    background: #ec8d3b;
    /* box-shadow: 0 0 5px 10px #ec8d3b; */
}


/* responsive */
@media screen and (max-width: 1000px) and (min-width:600px){
    .books{
        /* grid-template-columns: repeat(3, 1fr); */
    }
    .book{
        width: 15vw;
    }
    .book img{
        height: 150px;
    }
    .book h4{
        font-size: 1rem;
    }.book p{
        font-size: .8rem;
    }.insideBook button{
        position: absolute;
        bottom: 20px;
    }
    .about h3{
        font-size: 1.6rem;
        word-spacing: 1.5rem;
        letter-spacing: .5rem;
    }
    .footer a, th{
        font-size: .8rem;
    }
    .contact{
        width: 35vw;
    }
}


@media screen and (max-width: 600px) {
    .links a{
        font-size: 3.5vw;
    }.profile a{
        font-size: 3.5vw;
        transform: translate(0, .5rem);
    }
    .links{
        left: 30px;
        bottom: 50%;
    }
    .profile{
        right: 30px;
        bottom: 55%;
    }
    .headings{
        margin-top: 50px !important; 
    }
    .headings h1{
        font-size: 10vw;
        line-height: .9;
    }
    .headings h4{
        font-size: 2.6vw;
        margin-top: 2px;
    }
    .top{
        height: 60vh;
        position: relative;
    }
    .btn{
        bottom: 1rem;
        right: 1.5rem;
    }
    .btn button,.more button{
        padding: 15px 20px;
        font-size: .8rem;
        width: auto;
    }
    .head h1, .about h1, .testimonials h1, .FAQ h1{
        font-size: 7.5vw;
    }
    .book{
        text-align: center;
        width: 40vw;
        height: 15.5rem;
    }
    .insideBook{
        align-items: center;
    }
    .book img{
        height:150px;
        margin-bottom: 0.2rem;
    }
    .book h4, .book p{
        font-size: 15px;
    }
    .books{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
    }
    .more{
        padding-top: 5rem;
    }
    .about h3{
        font-size: 1rem;
        word-spacing: .5rem;
        letter-spacing: .25rem;
        margin-bottom: 1.5rem;
    }
    .aboutBook{
        margin-top: 2rem;
        height: 75vw;
        width: 40vw;
    }
    .aboutBook p{
        font-size: 10.5px;
        padding: 0;
        margin: 0;
    }
   .aboutBook h4{
        margin: 0 0 1rem 0;
        font-size: 12px;
    }
    .emptySection{
        height: 0 !important;
    }
    .about{
        padding-bottom: 0;
    } 
    .testimonials h1{
        margin-bottom: 4rem;
    }
    .testi1 h4,.testi h4{
        font-size: .75rem;
    }
    .testi1 p, .testi p{
            font-size: 0.7rem;
    }
    .star{
        margin: 0.1rem;
    }
    .star i{
        margin: 0.2rem;
        font-size: 0.8rem;
    }
    .testi1, .testi{
        min-width: 45vw;
        padding: 1.5rem 2rem 1.5rem 1.5rem ;
    }
    .circle{
        height: 7px;
        width: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .FAQ > p{
        font-size: .8rem;
        padding: 0 2rem;
    }
    .queries{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: space-evenly;
        justify-items: center;
        row-gap: 1rem;
    }
    .query{
        width: 80%;
    }
    .footer{
        grid-template-columns: repeat(1, auto);
    }
    .contact{
        width: 80vw;
        margin-bottom: 1.5rem;
    }
    table{
        width: 75vw;
    }

}